<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/favoriteRecipePage.css">
    <title>Favourite Recipes</title>
</head>

<body class="background">
    <div class="Header">
      <h2>Favourite Page</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="recipe_listing.html">Catalog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="recipe_details.html">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fav.html">Favorite</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


<div class="row">
  <div class="col-lg-5">
    <img class="card-img-top" src="../images/ofada.jpg" alt="ofada">
  </div>
  <div class="col-lg-4">
    <p class="card-text">Rinse the Beef and Assorted meat with clean water and dice into small bits, place in a medium sized pot. Add the seasoning cubes, Salt to taste, diced onion and 2-3 cups of water. Leave to cook till tender for about 30 mins. Set aside.
    Remove the seeds from the Red bell pepper. Wash all the Red bell pepper thoroughly with clean water including the Red Scotch bonnet (Ata Rodo) and place in a blender. Blend partly rough.
    Pour the pepper puree in an empty pot and cook till all the liquid evaporates leaving the puree concentrated puree. Boil till the rice softens.
    An empty medium sized pot, Heat the palmoil for about 10-13minutes.
    Add the pepper puree and Iru and stir fry for 5 minutes
    Add the assorted meat stock including the Assorted meat and beef, Crayfish (Whole and ground).
</p>
<br><br>
<div class="col-lg-10">
    <img class="card-img-top" src="../images/turkish_salad.jpg" alt="turkish_salad">
  </div>
  <div class="col-lg-4">
  <h4 class="card-title">Turkish Salad</h4>
    <p class="card-text">Cut the red onion in half, peel and finely slice it. Then toss all the chopped veggies into a large bowl. To make the dressing crush, peel and finely mince the clove of garlic. Add to it the juice of a large lemon, salt, pepper, olive oil, the finely chopped mint and parsley and sumac.
</p>
  </div>
                            
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>
