<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>    
    <link rel="stylesheet" type="text/css" href="../css/login.css">

    <title>Login</title>
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="recipe_listing.html">Recipe Catalog</a>
      <a class="navbar-brand" href="recipe_details.html">Recipe Details</a>
      <a class="navbar-brand" href="profile.html">My profile</a>
      <a class="navbar-brand" href="info.html">info</a>
      <a class="navbar-brand" href="fav.html">Favourite recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <h1 class="brand">
        <center>
            More Recipe
        </center>
    </h1>
    <p>
        <center>
            Welcome to More Recipe, Share your Recipes with the world, view the recipes of others and try it out!
        </center>
    </p>

    <div class="header">
        <div class="row">
            <div class="col-lg-4">
                    <h4> Sign up</h4>
                  <div class=''>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputText" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputText" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword1" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <select class="form-control" required>
                                <option value="">Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="custom-file"> 
                                <input type="file" id="file2" class="custom-file-input form-control">
                                <span class="custom-file-control">Upload Picture</span>
                            </label>     
                        </div>
                        <center>
                                <button class="btn btn-default" type="submit">SignUp</button>
                        </center>
                    </form>
                  </div>
            </div>

            <div class="ml-auto col-lg-4 login-form">
                <p>Have an Account? Sign in</p>
                <h4>Sign In</h4>
                <form action="/login" id="login-form">
                <div class="form-group">
                  <input class="form-control" placeholder="Email" type="email" required><br>
                </div>
                <div class="form-group">
                   <input class="form-control" placeholder="Password" type="password" required><br>
                </div>
                <p><a href="#">forgot password?<a></p>
                  <center>
                      <button class="btn btn-default" type="submit">Submit</button>
                  </center>
                </form>
            </div>
        </div>
        

        
    </div>

    <div class="footer">
    <div class="row">
        <div class="col">
            <h6>Support</h6>
                <a href="#">Contact Us</a>
            </div>
            <div class="col">
                <h6>About Us</h6>
                <p>© 2017 Morerecipes.com </p>
                <p>All Rights Reserved</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</div>
</body>
</html>