<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>  
    <link rel="stylesheet" href="../css/recipe_details.css">
    <title>Recipe Details</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="recipe_listing.html">Catalog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="recipe_details.html">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fav.html">Favorite</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<div class="header">
    <center>
        <h2>Recipe Page</h2>
    </center>
</div>


<div class="row">
<div class="col-lg-6 card">
         <img class="card-img-top" src="../images/ewa_agoyin.jpg" alt="ewa_agoyin">
    </div>
    <div class="col-lg-5">
        <h4 class="card-title">Ewa Agoyin</h4>
           <h5 class="card-text">
            Add 6 cups of water to a pot, set on low heat. Wash and add the beans. Leave on low heat for 2hr:30min or until the beans is very soft. Add salt to taste.
            In a blender, combine the bell pepper, habanero(rodo) pepper and the half medium onion.
            Set a medium sized pot on low heat, add the palm oil.Bleach the oil for 10-15mins.
            Add in the blender chopped pepper to another pot, boil for 15mins (this is to remove excess water)
            Add the parboiled pepper to the fried onion, cook for about 15mins.
            Taste for seasoning. Cook on medium heat for another 10mins.
            Serve on beans.
</h5>
            <h6> 200 like<i class="fa fa-thumbs-up" aria-hidden="true"></i></h6>
            <h6> 0 unlike<i class="fa fa-thumbs-down" aria-hidden="true"></i></h6>
            <h6><a href="#">Add to favourite<i class="fa fa-heart" aria-hidden="true"></a></i></h6>
            <h5>Posted by Hamdalah</h5>
    </div>
<br> <br>

<div class="col-lg-5 card">

         <img class="card-img-top" src="../images/waffles.jpg" alt="waffles">
    </div>
    <div class="col-lg-5">
        <h4 class="card-title">Waffles</h4>
           <h5 class="card-text">
            Add 6 cups of water to a pot, set on low heat. Wash and add the beans. Leave on low heat for 2hr:30min or until the bPreheat waffle iron. Beat eggs in large bowl with hand beater until fluffy. Beat in flour, milk, vegetable oil, sugar, baking powder, salt and vanilla, just until smooth.Spray preheated waffle iron with non-stick cooking spray. Pour mix onto hot waffle iron. Cook until golden brown. Serve hot.</h5>
            <h6> 34 like<i class="fa fa-thumbs-up" aria-hidden="true"></i></h6>
            <h6> 2 unlike<i class="fa fa-thumbs-down" aria-hidden="true"></i></h6>
            <h6><a href="#">Add to favourite<i class="fa fa-heart" aria-hidden="true"></a></i></h6>
            <h5>Posted by Sonna</h5>
       
    </div>
    <div class="col-lg-6 card">
         <img class="card-img-top" src="../images/atama.jpg"" alt="Card image cap">
    </div>
    <div class="col-lg-5">
        <h4 class="card-title">Abak Atama Soup</h4>
           <h5 class="card-text">
                           Wash periwinkles thoroughly. Then Wash and boil the palm fruits for about 30 minutes. Strain off the water and pound the palm fruit until the pulp/fibre separates from the nuts.
                Boil some clean water and add to the pounded palm fruit and mix thoroughly to separate the oily extract from the rest of the pulp, then strain off the oily extract.
                Add the atama leaves and boil without stirring for another 10 minutes. Stir and add salt to tast.
                Allow to simmer for another 15 –10 minutes or until slightly thick. Remove from heat and serve with pounded yam, garri or cassava fufu.
            </h5>
            <h6> 20 like<i class="fa fa-thumbs-up" aria-hidden="true"></i></h6>
            <h6> 2 unlike<i class="fa fa-thumbs-down" aria-hidden="true"></i></h6>
            <h6><a href="#">Add to favourite<i class="fa fa-heart" aria-hidden="true"></a></i></h6>
            <h5>Posted by Nnenna</h5>
            
    </div>
</div>


<br> <br>
</div>
</body>

<footer>
    <center>
    <div class="container">
                <div class="footer">
                <div class="row">
                    <div class="col-lg-6">
                        <p id="footer-text">&copy;
                        <span id="footer-year"></span> More-Recipes. For the love of good food.</p>
                    </center>
                    </div>
                </div>
            </div>
            </div>
    </center>
            
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</html>