#background {background: #ee0979;  
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
	background: linear-gradient(to right, #ff6a00, #ee0979); 
}

.navbar{
	float: right;
	background-color: #74ebd5;
}


.forms{
	border: 1px solid;
}

.brand {
	color: #ee0979;
	font-size: 60px;
	text-align-last: center;
}


.background{background: #74ebd5;  
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  
	background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

.bg-light{
	background-color: #74ebd5 !important;
	color: #ffffff !important;


.sign-up{
	margin-top: 2px;
	border-spacing: 10px;
	padding-bottom: 2em;
}


.footer{
	background: black
	border: 2px solid blue;
	align-self: auto;
	padding-bottom: 2px;
}
