
body {
    background-color: #D3D3D3;
    background-size: 100%;
}

.navbar {
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
}

.jumbotron {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

h5 {
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
}


#carouselExampleControls{
    margin-left: 2%;
    margin-right: 2%; 
}

/* .carousel-item{
    width: 500%;
    height: 560px;
} */

.footer {
    padding: 15px 0px;
    background-color: #3F3F3F;
    margin-bottom: -200px;
    margin-left: -60px;
    margin-right: -60px;
    text-align: center;
    color:peachpuff;  
    margin-top:40px;
   }

