body {
    margin-left: 3%;
    margin-right: 3%;
}

.navbar {
	margin-bottom: 2%;
}

    .container{
        margin-top: 7%
    }

    .footer {
        padding: 15px 0px;
        background-color: #3F3F3F;
        margin-bottom: -200px;
        margin-left: -60px;
        margin-right: -60px;
        text-align: center;
        color:peachpuff;  
        margin-top:40px;
       }
    