
.edit-profile{
	float: right;
	margin-right: 20px;
}

body {
    margin-left: 3%;
    margin-right: 3%;
}


.container{
    margin-top: 3%;
    padding-top: 5%;
    color: #fff;
    font-size:12px;
}

/*h5 {
    padding-left: 2px;
    padding-top: 2px;
}
*/
.details{       
    border: 2px;
    border-left-width: 2px;
    margin: 20px;
}  

#footer-text{
    float: left;
    margin: 1px solid;
} 

.footer{
    background-color: #3F3F3F;
    margin-top: 68%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: center;
    color: #fff;
    font-size:12px;
}