
body {
    margin-left: 3%;
    margin-right: 3%;
}

.row{
    margin-top: 70px;
    margin-bottom: 45px;
}

.favourite-recipe{
  margin-right: 7em;
  border-top: 4px solid chocolate;
}

.background{
    background-color: #3d3d3d;
}
  
.footer {
    padding: 15px 0px;
    background-color: #3F3F3F;
    margin-bottom: -200px;
    margin-left: -60px;
    margin-right: -60px;
    text-align: center;
    color:peachpuff;  
    margin-top:40px;
   }
