body {
    margin-left: 3%;
    margin-right: 3%;
}

.navbar {
    padding-top: 2%;
    margin-bottom: 3%;
}


.container{
    margin-top: 3%;
    padding-top: 5%;
    color: #fff;
    font-size:12px;
}


.background{background: #74ebd5;
  }