/*body {
    margin-left: 3%;
    margin-right: 3%;
}*/



.container{
    margin-top: 1px solid;
    padding-top: 5%;
    font-size:12px;
}


/*.card-text{
	padding-bottom: 20px;
	margin: 20px;
}*/

.card-title{
	color: red;
	padding-bottom: 50px;
}

.card-image{
    height: 250px;
}

.card-body {
    background: #fff;
}

.footer {
    padding: 15px 0px;
    background-color: #3F3F3F;
    margin-bottom: -200px;
    margin-left: -60px;
    margin-right: -60px;
    text-align: center;
    color:peachpuff;  
    margin-top:40px;
   }

.size{
    width: 1280px;
    height: 720px;
}