
h2 {
    color: red;
    font-size: 40px;
    font-style: cursive;
}


h1 {
  font-style: cursive;
}

.search_btn{
  float: right;

}

.navbar-brand{
	float: right;
}

.footer{
  background-color: #3F3F3F;
  margin-top: 68%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: center;
  color: #fff;
  font-size:12px;
}