/*body {
    margin-left: 3%;
    margin-right: 3%;
}*/



.container{
    margin-top: 1px solid;
    padding-top: 5%;
    font-size:12px;
}


/*.card-text{
	padding-bottom: 20px;
	margin: 20px;
}*/

.card-title{
	color: red;
	padding-bottom: 50px;
}

.card-image{
    height: 250px;
}

.card-body {
    background: #fff;
}

.footer{
    background-color: #3F3F3F;
    margin-top: 68%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: center;
    color: #fff;
    font-size:12px;
}