/*body {
    margin-left: 3%;
    margin-right: 3%;
}*/



.container{
    margin-top: 1px solid;
    padding-top: 5%;
    color: #fff;
    font-size:12px;
}


/*.card-text{
	padding-bottom: 20px;
	margin: 20px;
}*/

.card-title{
	color: red;
	padding-bottom: 50px;
}